* {
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    font-size: 13px;
    color: #efefef;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

widget {
    border-radius: 10px;
    background-color: #2c2c2c;
    border: 1px solid #1c1c1c;
}

label.module {
    padding: 0 10px;
}

button {
    border-radius: 10px;
    transition: background 0.2s ease;
}

#workspaces button {
   padding: 0 5px;
}

#workspaces button.active {
    background-color: rgba(0xb2, 0x21, 0x18, 1);
}
